@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;700&display=swap");

/*------------------------------------------------------------------------------------------------------ common ----------------------------------------------------------------------------------------------- */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Didact Gothic", sans-serif;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 10%;
}

.logo{
    margin-right: auto;
    max-width: 200px;
    width: 100%;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    transition: 0.4s;
    color: black;
    font-weight: bold;
    font-family: "Evo 2", sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
} 

.nav_links li a:hover{
    color: rgba(58, 61, 61, 0.8);
}

.cta{
    color: white;
    text-decoration: none;
}

button{
    font-family: "Evo 2", sans-serif;
    font-weight: bold;
    font-size: 16px;

    padding: 9px 25px;
    background-color: rgb(66, 69, 70);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition:0.4s; 
    margin-left: 20px;
}

button:hover{
    background-color: rgba(58, 61, 61, 0.8)
}

.banner{
    display: flex;
    max-width: auto;
    justify-content: center;
    background-color:rgb(255, 222, 89);
}

.banner img{
    max-width: 450px;
    width: 100%;
}

.title{
    font-size: 20px;
    display: flex;
    flex-direction: row;
    color: black;
    margin-top:60px;
    margin-bottom: 60px;
    font-family: "Exo 2", sans-serif;
    text-align: center;
}

.title:before,.title:after{
    content: "";
    flex: 1 1;
    border-bottom: 1px solid black;
    margin-bottom: 45px;
    margin-left: 5%;
    margin-right: 5%;
}

/*------------------------------------------------------------------------------------------------------ index ------------------------------------------------------------------------------------------------ */

.content{
    margin-bottom: 60px;
}

.main-content {
    display: flex;
    max-width: 1400px;
    padding: 0 40px;
    margin: auto;
}

.about-us{
    font-family: "Didact Gothic";
    width: 50%;
    padding: 0 30px;
}

.about-us p{
    font-size: 18px;
}

.swiper {
    width: 100%;
    max-width: 700px;
    max-height: 460px;
    border-radius: 20px;
    transition: all 0.4s;
}

.swiper:hover{
    box-shadow: rgba(2,8,20,0.1) 0px 0.35em 1.175em, rgba(2,8,20,0.1) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.1);
}

.swiper img{
    width: 700px;
    min-width: none;
}

.swiper .swiper-button-next, .swiper .swiper-button-prev {
    color:orange;
    width: calc(var(--swiper-navigation-size)/ 30 * 27);
    height: 60px;
    transition:all 0.4s;
}

.swiper-button-prev:hover,.swiper-button-next:hover{
    background-color: rgba(0, 0, 0, 0.521);
    border-radius: 5px;
}

.swiper  .swiper-pagination-bullet-active {
    background: orange;
}

/*------------------------------------------------------------------------------------------------------- menu ------------------------------------------------------------------------------------------------ */

.flex-container{
    display: flex;    
    justify-content: space-between;
    margin: 0 auto 60px;
    max-width: 1600px;
}

.flex-container img{
    max-width: 500px;
    width: 100%;
    border-radius: 20px;
    transition:all 0.4s;
}

.flex-container img:hover{
    box-shadow: rgba(2,8,20,0.1) 0px 0.35em 1.175em, rgba(2,8,20,0.1) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.1);
}

.heading{
    font-family: "Didact Gothic", sans-serif;
    font-size: 50px;
    text-align: center;
    padding-top: 5px;
    color: black;
    height: 70px;
    border-radius: 20px;
}

#original{
    background-color:rgb(197, 193, 193);
}

#spicy{
    background-color: red;
}

#yuzu{
    background-color: yellow;
}

#tomyam{
    background-color: orange;
}

.menu{
    font-family: "Didact Gothic", sans-serif;
    text-align: center;
    color: black;
}

.menu-container{
    padding: 0 30px;
    min-width: 400px;
    margin-bottom: 40px;
}

.menu-image-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.money{
    color: green;
}

/*------------------------------------------------------------------------------------------------------ reserve ---------------------------------------------------------------------------------------------- */

.label{
    color: black;
}

.label > input{
    background-color: white;
    border-radius: 3px;
}

.sub{
    color:white;
    padding: 15px 25px;
    background-color: rgb(66, 69, 70);
    border: none;
    border-radius: 50px;
    transition:0.4s; 
    margin-left: 0;
}

.sub:hover{
    background-color: rgba(58, 61, 61, 0.8);
}

.form-container {
    display:flex;
    justify-content: center;
    margin-bottom: 60px;
}

.reserve-form {
    background-color: rgb(255, 222, 89);
    max-width: 760px;
    width: 100%;
    padding: 20px;
    border-radius: 8px;
}

.reserve-form label{
    display: block;
    margin-bottom: 10px;
}

.reserve-form input{
    padding: 6px;
}

.reserve-form input.full-width{
    width: 100%;
}

/*------------------------------------------------------------------------------------------------------ contact ---------------------------------------------------------------------------------------------- */

.img-grid{
    display: inline-grid;
    margin-top: 50px;
    grid-gap: 20px;
    max-width: 50%;
}

.img-grid img{
    max-width: 700px;
    width: 100%;
    height: auto;
    border-radius: 20px;
    transition:all 0.4s;
}

.restaurant-card:hover{
    box-shadow: rgba(2,8,20,0.1) 0px 0.35em 1.175em, rgba(2,8,20,0.1) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.1);
}

.contacts{
    font-family: "Didact Gothic", sans-serif;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 60px;
}

.contacts h1{
    font-size: 35px;
    text-align: center;
    font-weight: bold;
}

.contacts p{
    text-align: center;
    font-size: 30px;
}

.hyperlinks:before,.hyperlinks:after{
    content: "";
    flex: 1 1;
    border-bottom: 1px solid black;
    margin-bottom: 15px;
    margin-left: 50px;
    margin-right: 50px;
}

.socials .hyperlinks{
    display: flex;
    flex-direction: row;
}

.hyperlinks{
    justify-content: center;
    color: black;
    font-size: 35px;
    font-weight: bold;
    text-decoration: underline;
}

.reviewhyperlink{
    text-align: center;
}

.star-rating input {
    display: none;
}

.star-rating > label {
    font-family: Verdana;
    font-size:60px;
    color: red;
    transition: 0.4s;
     
}

.star-rating label::before{
    content: "\2606";
    line-height:26px;
}

.star-rating input:checked ~ label:before{
    content: "\2605"
}

.star-rating{
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    position: relative;
}

.star-rating label:hover{
    color: rgb(230, 111, 130);
}

.star-rating label:active::before{
    transform:scale(1.1);
}

@media only screen and (max-width: 1240px) {
    .flex-container{
        flex-direction: column;
    }
    .menu-image-container{
        text-align: center;
        display: block;
    }
    
    .flex-container img{
        margin: 20px;
    }
  }

@media only screen and (max-width: 1024px) {
    .main-content {
        flex-direction: column;
    }

    .about-us {width: 100%; margin-top: 30px;}

    .contacts{
        flex-direction: column;
    }

    .img-grid{max-width: 100%;    justify-content: space-around;}

  }

@media only screen and (max-width: 600px) {
    .logo{width: 150px;}

    header{
        padding: 0;
    }

    .title:before, .title:after {margin-left: 5px;
        margin-right: 5px;}

    button{
        margin-left: 0;
    }

    .flex-container img {
        margin: 0;
        padding: 10px;
    }

    .hyperlinks:before, .hyperlinks:after{
        margin-left: 10px;
        margin-right: 10px;
    }
  }
